<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352040301940-1fj5f4hkfvjdk9fo7nrl9gplak31nesl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352040301940-1fj5f4hkfvjdk9fo7nrl9gplak31nesl</string>
	<key>API_KEY</key>
	<string>AIzaSyAjYOi3O-1RiplYebMmRXTq237alkmOIH4</string>
	<key>GCM_SENDER_ID</key>
	<string>352040301940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notewizard</string>
	<key>PROJECT_ID</key>
	<string>note-wizard</string>
	<key>STORAGE_BUCKET</key>
	<string>note-wizard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352040301940:ios:a24abcee4c518569192821</string>
</dict>
</plist>